[Unit]
Description=osqueryd
After=network.target

[Service]
ExecStart=/usr/bin/osqueryd \
		--extensions_autoload=/etc/osquery/extensions.load \
		--logger_plugin=journal \

Restart=on-failure

[Install]
WantedBy=multi-user.target
